
<div class="content" role="main">
    <div class="container">
      
            
      <form [formGroup]="form" (ngSubmit)="submit()"  >
        <!--    -->
          <div class="form-group">

            <label for="pairsDelim">Currency Pairs:</label>
            <input type="text" formControlName="pairsDelim" 
                    class="form-control"  >

              <label for="pairsSelect">Select Currency Pair:</label>
              <select formControlName="pairsSelect" class="form-control" >
                   <option>All</option>
                  <option *ngFor="let pair of quoteArray">{{pair.pair}}</option>
              </select>
              <br/>
              <!-- <label for="amount">Select Currency Pair:</label>
              <input type="number" formControlName="amount" class="form-control" >
  -->
              <label>Form: {{form.value | json}}</label>
              <!-- <div *ngIf="f.pairs.touched && f.pairs.invalid" class="alert alert-danger">
                  <div *ngIf="f.pairs.errors && f.pairs.errors.required">
                      Name is required.</div> 
              </div> -->
          </div>
    
         
          <button class="btn btn-primary" type="text" 
          (click)="onTry($event)">Try</button>
          &nbsp;&nbsp;&nbsp;
          <button class="btn btn-success" type="submit" 
            [disabled]="!form.valid">Get New Pairs</button>
      </form>
      <br/>
      -----------------------------------------------------------------
      <br/>

      <table class='table table-striped' aria-labelledby="tableLabel">

      
         <!-- *ngIf="forecasts"> -->
        <thead>
          <tr>
            <th>Pair</th>
            <th>Ratio </th>
            <th>Old Ratio </th>
            <th>Percent </th>
            <th>Status</th>
            <th>Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quote of QuoteArraySubject$ | async ">
            <td>{{ quote.pair}}</td>
            <td>{{ quote.ratio }}</td>
            <td>{{ quote.oldRatio }}</td>
            <td [ngStyle]="getPercentStyle(percent(quote.ratio,quote.oldRatio))">
              {{ percent(quote.ratio,quote.oldRatio)}}
            </td>
            <td>{{ quote.status }}</td>
            <td>{{ quote.updated }}</td>
           </tr>
        </tbody>
      </table>
      -----------------------------------------------------------------
  
      
  </div>
</div>